<h1>Listing repairs requests</h1>

  <tbody>
    <% @submissions.each do |profiles| %>
      <tr>
        <td><%#= link_to 'Type', profiles.common_areas.type, @profiles %></td>
      </tr>
      <tr>
        <td><%#= link_to 'Show', @profiles %></td>
        <td><%#= link_to 'Edit', edit_common_areas_path(@common_areas) %></td>
        <td><%#= link_to 'Destroy', @common_areas, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repair Request', new_profile_path(@profiles) %>
